/* .the-clock {
    box-shadow: 0 0 12px #808080;
} */

#clock {
    font-size: 180px;
    width: 900px;
    margin: 120px 200px;
    text-align: center;
    border: 10px double black;
    border-radius: 20px;
    padding: 10px;
}

.ampmtime {
    font-size: 24px;
    text-align: right;
    width: 900px;
    margin: 0 200px;
}